/*
VARIABLES

$base-font: Main font family.
$base-font-size: Main font size
$fontsize-f3-cta: CTA (button font size)
$fontsize-f3-mid: End frame (non button) base font size
$fontsize-f3-mid: End frame (non button) base font size
$logo-width: Width of the logo.
$content-pad: The base padding for all content.
$full-width: The size of the layout coordinate plane.  Derived from the actual ad width.
$full-height: The size of the layout coordinate plane.  Derived from the actual ad height.
$base-color: Primary foreground color.

$endframe-layout: Flex direction of end frame.
 * 'row' : Generally used for horizontal ads.
 * 'column': Standard system to slot content into a column.
 $logo-pos: Logo position.
 * 'centered': vertically centered
 * '*': top ($content-pad), left ($content-pad)

 */
/*
MIXINS
 */
/*
AD CONTAINER STUFF
 */
#background_exit_ad {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 400;
  border: none; }

#reloader {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 15px;
  height: 15px;
  z-index: 500;
  opacity: 0; }
  #reloader .restarter {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px; }

/*
General helpers
 */
sup {
  vertical-align: text-top;
  font-size: 0.5em;
  line-height: 1em; }

.textbox-price {
  display: inline-block;
  position: relative; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.showing {
  opacity: 1 !important; }

.ad-container {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1em; }
  .ad-container,
  .ad-container button,
  .ad-container td {
    font-family: wf_gdsage-bold;
    font-weight: 400;
    font-size: 18px;
    color: #0B3354; }

.logo {
  position: absolute !important;
  left: 26px;
  top: 26px;
  right: auto;
  bottom: auto;
  width: 100px;
  height: 22px;
  opacity: 1;
  z-index: 100;
  top: 45px;
  margin-top: -11px; }
  .logo #gd_logo {
    fill: #0B3354;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%; }
    .logo #gd_logo path {
      opacity: 0; }

/*
  FRAME SETUP
   */
.ad-container {
  width: 728px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0; }

.ad-content {
  opacity: 0; }
  .ad-content.showing {
    opacity: 1; }

/*
SETUP
 */
.frame-container {
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px; }
  .frame-container .frame {
    top: 0px;
    left: 0px;
    width: 728px;
    height: 90px;
    overflow: hidden;
    opacity: 1; }
    .frame-container .frame .textholder {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .frame-container .frame .textholder.reversed {
        color: #0B3354; }
    .frame-container .frame .v5frame {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 728px;
      height: 90px;
      opacity: 0;
      background: #0B3354;
      color: #FFF1E1; }
      .frame-container .frame .v5frame.reversed {
        background: #FFF1E1;
        color: #0B3354; }
    .frame-container .frame .imgframe {
      position: absolute;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 728px;
      height: 90px; }
      .frame-container .frame .imgframe.svg {
        padding: 13px;
        display: -ms-flexbox;
        display: flex; }
        .frame-container .frame .imgframe.svg svg {
          width: 100%;
          max-height: 100%; }
  .frame-container.background {
    top: 0px;
    left: 0px;
    width: 728px;
    height: 90px; }
  .frame-container.foreground {
    top: 0px;
    left: 0px;
    width: 728px;
    height: 90px; }
    .frame-container.foreground .textholder {
      width: 676px;
      line-height: 1.1em; }
      .frame-container.foreground .textholder .text span {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        float: left;
        margin-right: 0.26em; }
        .frame-container.foreground .textholder .text span:last-child {
          margin-right: 0; }
        .frame-container.foreground .textholder .text span.supered {
          padding-right: 0.26em; }
    .frame-container.foreground .frame {
      position: absolute; }
    .frame-container.foreground .frame-1 {
      display: -ms-flexbox;
      display: flex;
      z-index: 50;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 728px;
      height: 90px;
      line-height: 1.1em;
      font-size: 20px;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center; }
    .frame-container.foreground .frame-2 {
      font-size: 24px; }
    .frame-container.foreground .frame-end {
      position: absolute;
      z-index: 50; }
      .frame-container.foreground .frame-end .content {
        /*  Absolutely positioned since some of the layouts need to go edge to edge. */
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 728px;
        height: 90px;
        display: -ms-flexbox;
        display: flex;
        line-height: 1.1em;
        font-size: 17px;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between;
        padding: 26px;
        padding-top: 0px;
        padding-bottom: 0px; }
        .frame-container.foreground .frame-end .content .textbox-headline {
          font-size: 1.35em;
          line-height: 1.1em; }
        .frame-container.foreground .frame-end .content .cta-block {
          -ms-flex-item-align: center;
              -ms-grid-row-align: center;
              align-self: center; }
      .frame-container.foreground .frame-end .text-block {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1;
            flex: 1;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center; }
      .frame-container.foreground .frame-end .cta-block {
        -ms-flex-align: center;
            align-items: center; }
        .frame-container.foreground .frame-end .cta-block .button-wrapper button {
          padding: 0.5em 1em;
          width: auto;
          max-width: 100%;
          background: #FFF1E1;
          color: #0B3354;
          border: none;
          font-size: 12px; }

.frame-container .frame .v5frame {
  /*
  z-index: 20;
   */ }

.frame-container.foreground .frame-1 .textholder .text {
  font-family: wf_gd_sherpa_regular; }

.frame-container.foreground .frame-2 .textholder .text {
  font-family: wf_gd_sherpa_regular; }

.frame-container.foreground .frame-end .content .textbox-headline {
  font-family: wf_gdsage-bold; }

.frame-container.foreground .frame-end .content .textbox-headline {
  font-family: wf_gdsage-bold; }

.frame-container.foreground .frame-end .content .textbox-subtext {
  font-family: wf_gd_sherpa_regular; }

.frame-container.foreground .frame-end .content .textbox-price {
  font-family: wf_gdsage-bold; }

.frame-container.foreground .frame-end .content .textbox-descriptor {
  font-family: wf_gdsage-bold; }

.frame-container.foreground .frame-end .cta-block .button-wrapper button {
  font-family: wf_gd_sherpa_regular; }

.frame-container.foreground .frame-end .content .price-block {
  display: none; }

.textbox-subtext {
  display: none; }

.frame-container.foreground .frame-end .has-domain-search .text-block {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.frame-container.foreground .frame-end .has-domain-search .domain-search-input {
  margin-top: 6px;
  display: -ms-flexbox;
  display: flex; }
  .frame-container.foreground .frame-end .has-domain-search .domain-search-input input[type='text'] {
    border: 1px solid black(0.5);
    height: 36px;
    width: 63%;
    margin: 0px;
    padding: 6px 6px;
    font-size: 12px; }
  .frame-container.foreground .frame-end .has-domain-search .domain-search-input button {
    margin: 0px;
    height: 36px;
    color: #FFF1E1;
    background: #0B3354;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    width: 33%;
    margin-left: 4%;
    font-family: wf_gd_sherpa_regular;
    font-size: 14px; }

.frame-container.foreground .frame-end .has-domain-search .disclaimer {
  font-size: 12px;
  font-family: wf_gd_sherpa_regular;
  line-height: 14px; }

.frame-container.foreground .frame-end .has-domain-search h5 {
  margin-top: 13px;
  margin-bottom: 7px;
  font-family: wf_gd_sherpa_regular;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal !important; }

.frame-container.foreground .frame-end .has-domain-search .domainshort {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 13px; }

.frame-container.foreground .frame-end .has-domain-search .domain {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -ms-flex-align: center;
      align-items: center; }
  .frame-container.foreground .frame-end .has-domain-search .domain a {
    margin-left: auto; }
  .frame-container.foreground .frame-end .has-domain-search .domain button {
    height: 28px;
    color: #FFF1E1;
    background: #0B3354;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    width: 25%;
    font-family: wf_gd_sherpa_regular;
    font-size: 12px;
    margin-left: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80px; }
  .frame-container.foreground .frame-end .has-domain-search .domain h3 {
    font-family: wf_gd_sherpa_regular;
    color: #0B3354;
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

#searchMore {
  display: none; }

.frame-container .imgframe {
  position: absolute; }
  .frame-container .imgframe.imgframe-1 {
    width: 235px;
    top: 0px;
    left: 160px;
    height: 90px; }

.frame-container.foreground .logo {
  left: 26px;
  width: 112px;
  top: 32px;
  width: 112px;
  height: 25px;
  margin-top: 0px; }
  .frame-container.foreground .logo #gd_logo {
    fill: #0B3354; }

.frame-container.foreground .frame-1 .textholder {
  position: absolute;
  top: 0px;
  right: 26px;
  left: 421px;
  bottom: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #FFF1E1;
  width: auto; }

.frame-container.foreground .frame-end .content {
  height: auto;
  bottom: 0px;
  left: 160px;
  right: 0px;
  top: 0px;
  -ms-flex-direction: row;
      flex-direction: row;
  width: auto;
  -ms-flex-align: center;
      align-items: center; }
  .frame-container.foreground .frame-end .content .text-block, .frame-container.foreground .frame-end .content .cta-block {
    height: 90px;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex; }

.frame-container.foreground .frame-end .has-domain-search .text-block {
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 10px 0px 13px 0px; }

.frame-container.foreground .frame-end .has-domain-search .domain-search-input {
  margin-top: 6px; }
  .frame-container.foreground .frame-end .has-domain-search .domain-search-input input[type='text'] {
    height: 28px;
    padding: 6px 6px;
    font-size: 12px;
    width: 334px; }
  .frame-container.foreground .frame-end .has-domain-search .domain-search-input button {
    height: 28px;
    width: 170px;
    margin-left: 12px;
    padding-right: 0px; }

.frame-container.foreground .frame-end .has-domain-search h5 {
  margin-top: 7px;
  font-size: 12px;
  line-height: 12px; }

.frame-container.foreground .frame-end .has-domain-search .results-container-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.frame-container.foreground .frame-end .has-domain-search .domain {
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  max-width: 160px; }
  .frame-container.foreground .frame-end .has-domain-search .domain h3 {
    max-width: 100px;
    font-size: 14px; }
  .frame-container.foreground .frame-end .has-domain-search .domain button {
    width: 65px;
    height: 23px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 8px; }

.frame-container.foreground .frame-end .has-domain-search .disclaimer {
  font-size: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 27px; }
